.content__title_size {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .content__title_size {
    font-size: 21px;
    line-height: 48px;
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  .content__title_size {
    font-size: 26px;
    line-height: 80px;
  }
}


@media screen and (min-width: 601px) and (max-width: 860px) {
  .content__title_size {
    font-size: 36px;
    line-height: 44px;
  }
}
