.page {
  background: url(../../img/girl-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(107.56deg, #575757 0%, #1b1b1b 100%), #000000;
  opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .page {
    background: url(../../img/bacground-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 10px;
  }
}
@media screen and (min-width: 601px) and (max-width: 860px) {
  .page {
    background: url(../../img/bacground-photo-medium.jpg);
    padding: 0 22px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
